<div class="categories-with-image section">
  {% for block in section.blocks %}
    <div>
      <img src="{{ block.settings.category-image | img_url: 'master' }}" alt="{{ block.settings.title }}">
      <a href="{{ block.settings.collection }}">{{ block.settings.title }}</a>
    </div>  
  {% endfor %}
</div>

{% schema %}
{
  "name": "Categories with Image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image with Text"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Description",
      "default": "<p>Write your description here</p>"
    },
    {
      "type": "checkbox",
      "id": "reverse",
      "label": "Reverse Image Position",
      "default": false
    }
  ],
  "blocks": [
    {
      "name": "categories",
      "type": "collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Category"
        },
        {
          "type": "image_picker",
          "id": "category-image",
          "label": "Category Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Categories with Image",
      "category": "Image"
    }
  ]
}
{% endschema %}